<div class="container-fluid">
  <app-page-loading *ngIf="stillLoading"></app-page-loading>
  <div class="row">
    <div class="col-4">
      <app-railroad trackTitle="Category" [tracks]="tracks"
            (refreshTracks)="getTracks()"
            (selectTrack)="selectTrack($event)"
            (emtDeleteTrack)="deleteTrack($event)"
            (createTrack)="createTrack()" ></app-railroad>
    </div>
    <div class="col-8">
        <form #categoryForm="ngForm" (ngSubmit)="saveTrack()" *ngIf="selectedTrack">
            <div class="form-group">
                <label for="categoryName">Category name</label>
                <input type="text" class="form-control" id="categoryName"
                        aria-describedby="categoryNamelHelp"
                        placeholder="Category name"
                        name="name"
                        [(ngModel)]="selectedTrack.name"
                        #defaultFormElement
                        required >
                <small id="categoryNamelHelp" class="form-text text-muted">Enter the name of a new category</small>
            </div>
            <div class="form-group">
                <label for="categoryDescription">Description</label>
                <textarea class="form-control" id="categoryDescription" rows="3"
                aria-describedby="categoryDescriptionlHelp"
                placeholder="Category description"
                name="description"
                [(ngModel)]="selectedTrack.description" ></textarea>
                <small id="categoryDescriptionlHelp" class="form-text text-muted">Enter a brief description for the new category</small>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <div *ngIf="this.tracks!==undefined && this.tracks.length>0 && !this.selectedTrack">
            <app-notrackselected noTracks="0" trackTitle="Category" (createTrack)="createTrack()"></app-notrackselected>
        </div>
    </div>
  </div><!-- track row -->
  <div class="row" *ngIf="this.tracks!==undefined && this.tracks.length===0 && !this.selectedTrack">
      <div class="col-12">
        <app-notrackselected noTracks="1" trackTitle="Category" (createTrack)="createTrack()"></app-notrackselected>
      </div>
  </div>
</div>

<template #cannotDelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Cannot Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>You cannot delete <span class="font-weight-bold">{{cannotDeleteObjectName}}</span> because it's being used in one or more <span class="font-weight-bold">products</span>.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">OK</button>
  </div>
</template>

<template #saveprogress let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Saving Category</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{tracksavestatus}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="tracksavestatus==='Saving'" class="btn btn-secondary" (click)="c('Close click')">OK</button>
  </div>
</template>
