<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <app-railroad trackTitle="Admin user" [tracks]="tracks"
            (refreshTracks)="getTracks()"
            (selectTrack)="selectTrack($event)"
            (emtDeleteTrack)="deleteTrack($event)"
            (createTrack)="createTrack()" ></app-railroad>
    </div>
    <div class="col-8">
        <form #appuserForm="ngForm" (ngSubmit)="saveTrack()" *ngIf="selectedTrack">
            <div class="form-group">
                <label for="fullName">Full name</label>
                <input type="text" class="form-control" id="fullName"
                        aria-describedby="fullNamelHelp"
                        placeholder="Full name"
                        name="name"
                        [(ngModel)]="selectedTrack.name"
                        #defaultFormElement
                        required >
                <small id="fullNamelHelp" class="form-text text-muted">Enter the full name of a new Admin user</small>
            </div>
            <div class="form-group">
                <label for="fullName">User name</label>
                <input type="text" class="form-control" id="username"
                        aria-describedby="fullNamelHelp"
                        placeholder="User name"
                        name="username"
                        #usernamefield
                        [(ngModel)]="selectedTrack.username"
                        (blur)="isvalidusername()"
                        required >
                <small id="fullNamelHelp" class="form-text text-muted" *ngIf="!invalidUserName">Enter the user name of a new Admin user</small>
                <small id="fullNamelHelp" class="form-text text-danger" *ngIf="invalidUserName">{{invalidUserNameMsg}}</small>
            </div>
            <div class="form-group">
                <label for="fullName">Email</label>
                <input type="email" class="form-control" id="email"
                        aria-describedby="fullNamelHelp"
                        placeholder="Email"
                        name="email"
                        [(ngModel)]="selectedTrack.email"
                        required >
                <small id="fullNamelHelp" class="form-text text-muted">Enter the email of a new Admin user</small>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password"
                                aria-describedby="passwordlHelp"
                                placeholder="Password"
                                name="password"
                                [readonly]='!ChangePassword'
                                [(ngModel)]="selectedTrack.password"
                                required >
                    </div>
                    <div class="col-6">
                        <label *ngIf="ChangePassword" for="confirmpassword">Confirm password</label>
                        <input *ngIf="ChangePassword" type="password" class="form-control" id="confirmpassword"
                                aria-describedby="confirmpasswordHelp"
                                placeholder="Confirm password"
                                name="confirmpassword"
                                [(ngModel)]="confirmpassword"
                                required >
                    </div>
                </div>
                <small id="passwordHelp" class="form-text text-muted">Enter the password of a new Admin user</small>
                <ngb-alert [dismissible]="false" type="danger" *ngIf="passwordsdontmatch">
                Your password and Confirm passwords don't match 
                </ngb-alert>                
                <button *ngIf="!ChangePassword" class="btn btn-primary btn-sm" (click)="OnChangePassword()">Change password</button>
                <button *ngIf="CancelChangePassword" class="btn btn-primary btn-sm" (click)="OnCancelChangePassword()">Cancel change password</button>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <div *ngIf="this.tracks!==undefined && this.tracks.length>0 && !this.selectedTrack">
            <app-notrackselected noTracks="0" trackTitle="Admin user" (createTrack)="createTrack()"></app-notrackselected>
        </div>
    </div>
  </div><!-- track row -->
  <div class="row" *ngIf="this.tracks!==undefined && this.tracks.length===0 && !this.selectedTrack">
      <div class="col-12">
        <app-notrackselected noTracks="1" trackTitle="Admin user" (createTrack)="createTrack()"></app-notrackselected>
      </div>
  </div>
</div>

<template #cannotDeleteLastUser let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Cannot Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>You cannot delete the last <span class="font-weight-bold">admin user</span> in the System.</p>
    <p>If you do, there will be no way to log into the System</p>
    <p>So, first create another user and then delete this user.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">OK</button>
  </div>
</template>

<template #saveprogress let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Saving User</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{tracksavestatus}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="tracksavestatus==='Saving'" class="btn btn-secondary" (click)="c('Close click')">OK</button>
  </div>
</template>

