<div class="container-fluid">
<nav class="navbar navbar-toggleable-sm navbar-light bg-faded" *ngIf="isValidUser()">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <button [ngClass]="navClass('product')" type="button" (click)="gotoRoute('product')">Product</button>
        <!--<a [ngClass]="navClass('product')" ></a>-->
      </li>
      <li class="nav-item">
        <button [ngClass]="navClass('customerorder')" type="button" (click)="gotoRoute('customerorder')">My orders</button>
        <!--<a [ngClass]="navClass('customerorder')" (click)="gotoRoute('customerorder')">My orders</a>-->
      </li>
      <li class="nav-item" *ngIf="isAdminUser()">
        <button [ngClass]="navClass('ailment')" type="button" (click)="gotoRoute('ailment')">Ailment</button>
        <!--<a [ngClass]="navClass('ailment')" (click)="gotoRoute('ailment')">Ailment</a>-->
      </li>
      <li class="nav-item" *ngIf="isAdminUser()">
        <button [ngClass]="navClass('category')" type="button" (click)="gotoRoute('category')">Category</button>
          <!--<a [ngClass]="navClass('category')" (click)="gotoRoute('category')">Category</a>-->
      </li>
      <li class="nav-item" *ngIf="isAdminUser()">
        <button [ngClass]="navClass('producttype')" type="button" (click)="gotoRoute('producttype')">Product type</button>
          <!--<a [ngClass]="navClass('producttype')" (click)="gotoRoute('producttype')">Product type</a>-->
      </li>
      <li class="nav-item" *ngIf="isAdminUser()">
        <button [ngClass]="navClass('drugtype')" type="button" (click)="gotoRoute('drugtype')">Product type</button>
          <!--<a [ngClass]="navClass('drugtype')" (click)="gotoRoute('drugtype')">Drug type</a>-->
      </li>
      <li class="nav-item" *ngIf="isAdminUser()">
        <button [ngClass]="navClass('manufacturer')" type="button" (click)="gotoRoute('manufacturer')">Manufacturer</button>
          <!--<a [ngClass]="navClass('manufacturer')" (click)="gotoRoute('manufacturer')">Manufacturer</a>-->
      </li>
      <li class="nav-item" *ngIf="isAdminUser()">
        <button [ngClass]="navClass('adminuser')" type="button" (click)="gotoRoute('adminuser')">Admins</button>
          <!--<a [ngClass]="navClass('adminuser')" (click)="gotoRoute('adminuser')">Admins</a>-->
      </li>
      <li class="nav-item" *ngIf="isAdminUser()">
        <button [ngClass]="navClass('vendor')" type="button" (click)="gotoRoute('vendor')">Vendors</button>
          <!--<a [ngClass]="navClass('vendor')" (click)="gotoRoute('vendor')">Vendors</a>-->
      </li>
      <li class="nav-item" *ngIf="isAdminUser()">
        <button [ngClass]="navClass('orderstatus')" type="button" (click)="gotoRoute('orderstatus')">Order statuses</button>
          <!--<a [ngClass]="navClass('orderstatus')" (click)="gotoRoute('orderstatus')">Order statuses</a>-->
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-sm align-middle btn-outline-success" type="button" (click)="gotoRoute('susi')">Logout</button>
      <!--<button class="btn btn-outline-success my-2 my-sm-0" >Logout</button>-->
    </form>
  </div>
</nav>    
<router-outlet></router-outlet>
</div>