<div style="top:150px;left:300px;position:absolute;" *ngIf="getDetailsInProgress"><span class="badge badge-default" style="font-size:48px">Getting details. Please wait...</span></div>
<app-page-loading *ngIf="stillLoading"></app-page-loading>
<app-valor-table [tableData]="tracks" (clickcell)="onClickTableCell($event)"></app-valor-table>
<template ngbModalContainer></template>
<template #vieweditproductModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">View / Edit product {{selectedTrack.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="top:200px;left:100px;position:absolute;" *ngIf="saveProductInProgress"><h1><span class="badge badge-default">Saving. Please wait...</span></h1></div>
    <table class="table">
      <tbody>
        <tr>
          <td>Name</td>
          <td class="font-weight-bold">{{selectedTrack.name}}</td>
        </tr>
        <tr>
          <td>Price</td>
          <td class="font-weight-bold"><input type=text #productprice value={{selectedTrack.productprice}}></td>
        </tr>
        <tr>
          <td>Ailment</td>
          <td class="font-weight-bold">{{selectedTrack.ailmentname}}</td>
        </tr>
        <tr>
          <td>Category</td>
          <td class="font-weight-bold">{{selectedTrack.categoryname}}</td>
        </tr>
        <tr>
          <td>Drug type</td>
          <td class="font-weight-bold">{{selectedTrack.drugtypename}}</td>
        </tr>
        <tr>
          <td>Manufacturer</td>
          <td class="font-weight-bold">{{selectedTrack.manufacturername}}</td>
        </tr>
        <tr>
          <td>Product type</td>
          <td class="font-weight-bold">{{selectedTrack.producttypename}}</td>
        </tr>
        <tr>
          <td>Constituents</td>
          <td>
            <ul *ngIf="selectedTrack.constituentnames.length">
              <li *ngFor="let constituentname of selectedTrack.constituentnames" class="font-weight-bold">{{constituentname}}</li>
            </ul>
            <p *ngIf="!selectedTrack.constituentnames.length" class="font-weight-bold font-italic">None</p>
          </td>
        </tr>
        <tr>
          <td>Sub-constituents</td>
          <td>
            <ul *ngIf="selectedTrack.subconstituentnames.length">
              <li *ngFor="let subconstituentname of selectedTrack.subconstituentnames" class="font-weight-bold">{{subconstituentname}}</li>
            </ul>
            <p *ngIf="!selectedTrack.subconstituentnames.length" class="font-weight-bold font-italic">None</p>
          </td>
        </tr>
      </tbody>
    </table>    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveproductchanges(productprice)" [disabled]="saveProductInProgress">Save changes</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')" [disabled]="saveProductInProgress">Close</button>
  </div>
</template>
