<div class="container-fluid">
  <app-page-loading *ngIf="stillLoading"></app-page-loading>
  <div class="row">
    <div class="col-4">
      <app-order-rail-road trackTitle="Order" [tracks]="tracks"
            [orderStatuses]="orderStatuses"
            currentStatusId="{{appuserService.DefaultOrderStatusId}}"
            (refreshTracks)="getTracks()"
            (selectTrack)="selectTrack($event)"
            (onSetOrderStatus)="setOrderStatus($event)"
            (createTrack)="createTrack()"
            (onViewOrderByStatus)="viewOrdersByStatus($event)"
             ></app-order-rail-road>
    </div>
    <div class="col-8" *ngIf="selectedTrack">
        <div>
        <h3>{{selectedTrack.customer.name}}</h3>
        <p>{{selectedTrack.customer.address1}}</p>
        <p>{{selectedTrack.customer.address2}}</p>
        <p>{{selectedTrack.customer.address3}}</p>
        <p>Mobile: {{selectedTrack.customer.mobile}}</p>
        <p>Email: {{selectedTrack.customer.email}}</p>
        <p>Date of order: {{selectedTrack.customerorder.orderdate_ts}}</p>
        </div>

        <table class="table table-bordered">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orderitem of selectedTrack.orderitems.items; let i = index;">
              <th scope="row">{{i+1}}</th>
              <td>{{orderitem.product.name}}</td>
              <td>{{orderitem.price}}</td>
              <td>{{orderitem.quantity}}</td>
              <td>{{orderitem.amount}}</td>
            </tr>
            <tr class="table-success">
              <th scope="row" colspan="3">Total</th>
              <!--<td>{{totalQuantity}}</td>-->
              <td>{{selectedTrack.orderitems.totalquantity}}</td>
              <!--<td>{{totalAmount}}</td>-->
              <td>{{selectedTrack.orderitems.totalamount}}</td>
            </tr>
          </tbody>
        </table>

    </div>

    <div *ngIf="this.tracks!==undefined && this.tracks.length>0 && !this.selectedTrack">
        <app-no-order-selected noTracks="0" trackTitle="Order" currentStatusName="{{currentStatusName}}"></app-no-order-selected>
    </div>
  </div><!-- track row -->
  <div class="row" *ngIf="this.tracks!==undefined && this.tracks.length===0 && !this.selectedTrack">
      <div class="col-12">
        <app-no-order-selected noTracks="1" trackTitle="Order" currentStatusName="{{currentStatusName}}"></app-no-order-selected>
      </div>
  </div>
</div>

<!--TODO: Is there a way to put this into another file and then reference it.
Right now we have to put this into each of the object HTML files -->
<template #cannotDelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Cannot Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>You cannot delete <span class="font-weight-bold">{{cannotDeleteObjectName}}</span> because it's being used in one or more <span class="font-weight-bold">products</span>.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">OK</button>
  </div>
</template>
<template #saveprogress let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Saving My Order</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{tracksavestatus}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="tracksavestatus==='Saving'" class="btn btn-secondary" (click)="c('Close click')">OK</button>
  </div>
</template>

<template #cannotCreateOrder let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Cannot create Orders</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>You cannot create an order from this page</p>
    <p>Orders must be created by customers</p>          
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Close click')">Close</button>
  </div>
</template>
