<template ngbModalContainer></template>
<div>
  <div class="btn-group" role="group"  style="margin: 5px 0px 5px 0px;">
    <template #refreshTracksContent><span class="tooltipContents">Refresh the list of <span class="font-weight-bold">{{trackTitle}}s</span> below 
      <span style="font-size: 20px;font-weight: bold;">&dArr;</span></span>
    </template>
    <button type="button" class="btn btn-secondary" (click)="onRefreshTracks()" [ngbTooltip]="refreshTracksContent">Refresh</button>

    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Order by Status
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a [ngClass]="dropdownItemStyle(orderStatus.id)" *ngFor="let orderStatus of orderStatuses" (click)="viewOrdersByStatus(orderStatus.id)">{{orderStatus.name}}<span *ngIf="orderStatus.id===currentStatusId">&nbsp;&#10004;</span></a>
      </div>
    </div>
  </div>
</div>
<div class="list-group">
  <div *ngFor="let track of tracks"
    type="button"
    [ngClass]="getTrackStyle(track)"
    class="row">
    <template #vieweditTipContents><span class="tooltipContents">View & Edit <span class="font-weight-bold">{{track.name}}</span> details</span></template>
    <div (click)="onSelectTrack(track)" class="col-9" style="cursor: pointer;" [ngbTooltip]="vieweditTipContents"
      placement="bottom" container="body">
      {{track.name}}
    </div>
    <div class="col-3">

      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-default" id="dropdownBasic1" ngbDropdownToggle>Status</button>
        <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" (click)="setOrderStatus(track, orderStatus.id)" *ngFor="let orderStatus of orderStatuses| filterOrderStatus: currentStatusId">{{orderStatus.name}}</button>
        </div>
      </div>
    </div>
    
  </div>
</div>